<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="0.5" rim:header="RIM-Widget:rim/widget">
    <name>AliceJS</name>
    <description>AliceJS (A Lightweight Independent CSS Engine)</description>
    <author rim:copyright="2012">Research In Motion Limited</author>
    <icon rim:hover="false" src="images/app_icon.png"/>
    <icon rim:hover="true" src="images/app_icon.png"/>
    <content src="index.html"/>
</widgett
